@import 'materialize.min.css';

.tabble{
  margin-left:10% !important;
}

.linkzor{
  padding-left: 100px;
}

h1{
  text-decoration: underline;
}

.example{
  margin-top:15%;
}

.course{
  margin-left:10%;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
/* Form For Prefs */
.input-field .prefix.active {
 color: #64aae8;
}

 /* label color */
.input-field label {
 color: #64aae8;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #64aae8;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #64aae8;
 box-shadow: 0 1px 0 0 #000;
}